//
//  default.xcconfig
//  Ventrica
//
//  Created by samsam on 2/5/26.
//

FEATHER_PROJECT_VERSION=2.8.2
// Fsign: 改成你自己的 bundle id(反向域名,按需改)
FEATHER_PRODUCT_BUNDLE_IDENTIFIER=com.frank3.fsign
FEATHER_DISAMBIGUATOR=${DEVELOPMENT_TEAM}

AD_HOC_CODE_SIGNING_ALLOWED = YES

DEPLOYMENT_LOCATION = YES
DSTROOT = $(SRCROOT)/_build/
